* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100vw;
    overflow-x: hidden;
}
.root {
    display: flex;
    flex-direction: column;
}
button:hover {
    cursor: pointer;
}
:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
/*  ----styles----  */
.df-border {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.auto-font {
    font-size: 16px;
}
@media (max-width: 1024px) {
    .df-border {
        border-radius: 14px;
    }
    .auto-font {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .df-border {
        border-radius: 12px;
    }
    .auto-font {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .df-border {
        border-radius: 9px;
    }
    .auto-font {
        font-size: 9px;
    }
}
.auto-font * {
    font-size: inherit;
}
/*  ----main----    */
/*  header  */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.07);
    background-color: white;
    z-index: 10;
}
.header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0 15px 40px;
    text-decoration: none;
    > img {
        width: 50px;
    }
    > h1 {
        font-size: 30px;
        font-weight: 1000;
        margin: 0 0 0 20px;
        color: black;
    }
}
@media (max-width: 1024px) {
    .header .logo {
        margin: 12px 0 12px 35px;
        > img {
            width: 40px;
        }
        > h1 {
            font-size: 25px;
            margin: 0 0 0 17px;
        }
    }
}
@media (max-width: 768px) {
    .header .logo {
        margin: 10px 0 10px 30px;
        > img {
            width: 32px;
        }
        > h1 {
            font-size: 20px;
            margin: 0 0 0 14px;
        }
    }
}
@media (max-width: 480px) {
    .header .logo {
        margin: 10px 0 10px 25px;
        > img {
            width: 30px;
        }
        > h1 {
            font-size: 18px;
            margin: 0 0 0 12px;
        }
    }
}
/*  middle  */
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*upload*/
.middle .upload {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
    margin-top: 5vh;
    gap: 1.5vw;
}
/**/
.middle .upload .console-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 1.5vw;
    border: none;
}
.compress-settings {
    display: flex;
    column-gap: 4vw;
}
.convert-settings {
    display: flex;
    flex-wrap: nowrap;
}
.file-name-settings {
    display: flex;
    flex-wrap: nowrap;
    @media (max-width: 630px) {
        > input[type="text"] {
            width: 20vw;
        }
    }
}
.redo-or-undo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > input {
        padding: 0 1vw;
    }
}
@media (max-width: 750px) {
    .middle .upload .console-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5vw;
        > .toggle {
            align-self: flex-end;
        }
    }
}
/**/
.middle .upload .files-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1.5vw;
    .input-area {
        min-height: 22vh;
    }
    .display-area {
        min-height: 20vh;
    }
}
.files-row .input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    width: 100%;
}
.files-row .display-area {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(246, 246, 246);
    min-width: 30vw;
    padding: 1vw;
    .file-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0.7vw;
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-size: 12px;
        height: 3.5vw;
        @media (max-width: 900px) {
            height: 4vw;
            font-size: 11px;
            div.left img {
                grid-column: 1 / 2;
                height: 2.6vw;
            }
        }
        @media (max-width: 700px) {
            height: 5.3vw;
            font-size: 10px;
            div.left img {
                grid-column: 1 / 2;
                height: 3.9vw;
            }
        }
        @media (max-width: 500px) {
            height: 7vw;
            padding: 1vw 1vw;
            font-size: 8px;
            div.left img {
                grid-column: 1 / 2;
                height: 5.6vw;
            }
        }
        span {
            color: rgb(132, 132, 132);
            align-self: center;
        }
        div {
            align-items: center;
        }
        div.left {
            width: 70%;
            display: grid;
            grid-template-columns: auto 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0.7vw;
            img {
                grid-column: 1 / 2;
                height: 2.1vw;
            }
            span.file-name {
                grid-column: 2 / 3;
                color: black;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 70%;
            }
            span.file-size {
                grid-column: 3  / 4;
            }
        }
        div.right {
            display: flex;
        }
    }
}
/**/
.middle .upload .confirm-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    > .prompt {
        visibility: hidden;
    }
}
.middle .upload .confirm-row .buttons {
    min-width: 25%;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1vw;
    grid-column-gap: 1vw;
    label {
        display: flex;
        flex-wrap: nowrap;
    }
    .process-button {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .download-button {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}